.registerScreen {
    background-color: #7020cc;
    z-index: 1;
    color: #ffffff;
    height: 55vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;

    h1 {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin: 0;
        padding-top: 8px;
        color: #ffffff;
        font-size: 1.7em;
    }
}

.registerScreen-leftPanel {
    width: 100%;
    cursor: pointer;
}

.registerScreen-mainPanel {
    width: 70%;
    transition: .3s all;
    padding: 0% 3%;

    * {
        color: #ffffff;
    }
}

.registerScreen-rightPanel {
    font-size: 1.5em;
    width: 10%;
    margin-top: 3%;
    display: flex;
    justify-content: center;

    button {
        background-color: #7020cc;
    }

    button:hover {
        background-color: #5d1da7;
    }
}

.registerScreen-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    input {
        background-color: #5d1da7;
        font-family: 'Poppins', sans-serif;
    }

    button, button:hover {
        background-color: #ffffff;
        color: #5d1da7;
    }

    label {
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 700;
        letter-spacing: 0.65px;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
    }

    .error {
        margin-top: -1.4em;
        font-size: 0.7em;
        color: red;
        transition: 0s;
    }

    .success {
        margin-top: -1.4em;
        font-size: 0.7em;
        color: lawngreen;
        transition: 0s;
    }
}

.hidden {
    opacity: 0;
}

.togglePanel {
    width: 10%;
}