.container-notFound {
    height: 100vh;
    background: rgb(221,186,186);
    background: linear-gradient(150deg, rgba(221,186,186,1) 0%, rgba(207,89,89,1) 50%, rgba(153,29,117,1) 100%);

    * {
        margin: 0;
    }

    .notFound {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
        font-family: 'Poppins', 'sans-serif';
        font-size: 2em;
    }

    .notFound-items {

        span {
            text-decoration: underline;
        }

        p {
            font-size: 0.5em;
            text-align: center;
        }

    }

}